{
    "version": 2,
    "configurePresets": [
        {
            "name": "osx-local",
            "inherits": [
                "osx"
            ],
            "cacheVariables": {
                "CMAKE_TOOLCHAIN_FILE": "/PATH-TO/vcpkg/scripts/buildsystems/vcpkg.cmake"
            }
        }
    ]
}