{
  "version": 2,
  "configurePresets": [
    {
      "name": "osx",
      "inherits": [
        "osx-default"
      ],
      "cacheVariables": {
        "CMAKE_TOOLCHAIN_FILE": "/PATH-TO/vcpkg/scripts/buildsystems/vcpkg.cmake"
      }
    },
    {
      "name": "osx-gcc",
      "inherits": [
        "osx-gcc-default"
      ],
      "cacheVariables": {
        "CMAKE_TOOLCHAIN_FILE": "/PATH-TO/vcpkg/scripts/buildsystems/vcpkg.cmake"
      },
      "environment": {
        "CC": "/PATH-TO-GCC",
        "CXX": "/PATH-TO-G++"
      }
    },
    {
      "name": "win",
      "inherits": [
        "win-default"
      ],
      "cacheVariables": {
        "CMAKE_TOOLCHAIN_FILE": "/PATH-TO/vcpkg/scripts/buildsystems/vcpkg.cmake"
      }
    },
    {
      "name": "win-vscode",
      "generator": "Visual Studio 17 2022",
      "inherits": [
        "win-default"
      ],
      "cacheVariables": {
        "CMAKE_TOOLCHAIN_FILE": "/PATH-TO/vcpkg/scripts/buildsystems/vcpkg.cmake"
      }
    }
  ]
}